# coding: utf-8

"""
    Arduino IoT Cloud API

    Provides a set of endpoints to manage Arduino IoT Cloud **Devices**, **Things**, **Properties** and **Timeseries**. This API can be called just with any HTTP Client, or using one of these clients:  * [Javascript NPM package](https://www.npmjs.com/package/@arduino/arduino-iot-client)  * [Python PYPI Package](https://pypi.org/project/arduino-iot-client/)  * [Golang Module](https://github.com/arduino/iot-client-go)

    The version of the OpenAPI document: 2.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501


import re  # noqa: F401
import io
import warnings

from pydantic import validate_arguments, ValidationError
from typing_extensions import Annotated

from pydantic import Field, StrictBool, StrictBytes, StrictInt, StrictStr

from typing import Optional, Union

from iot_api_client.models.arduino_devicev2_otaupload import ArduinoDevicev2Otaupload
from iot_api_client.models.devicev2_otabinaryurl import Devicev2Otabinaryurl
from iot_api_client.models.devicev2_otaurlpyalod import Devicev2Otaurlpyalod

from iot_api_client.api_client import ApiClient
from iot_api_client.api_response import ApiResponse
from iot_api_client.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class DevicesV2OtaApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client

    @validate_arguments
    def devices_v2_ota_send(self, id : Annotated[StrictStr, Field(..., description="The id of the device")], devicev2_otabinaryurl : Devicev2Otabinaryurl, **kwargs) -> None:  # noqa: E501
        """send devices_v2_ota  # noqa: E501

        Send a binary url to a device  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.devices_v2_ota_send(id, devicev2_otabinaryurl, async_req=True)
        >>> result = thread.get()

        :param id: The id of the device (required)
        :type id: str
        :param devicev2_otabinaryurl: (required)
        :type devicev2_otabinaryurl: Devicev2Otabinaryurl
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            raise ValueError("Error! Please call the devices_v2_ota_send_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data")
        return self.devices_v2_ota_send_with_http_info(id, devicev2_otabinaryurl, **kwargs)  # noqa: E501

    @validate_arguments
    def devices_v2_ota_send_with_http_info(self, id : Annotated[StrictStr, Field(..., description="The id of the device")], devicev2_otabinaryurl : Devicev2Otabinaryurl, **kwargs) -> ApiResponse:  # noqa: E501
        """send devices_v2_ota  # noqa: E501

        Send a binary url to a device  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.devices_v2_ota_send_with_http_info(id, devicev2_otabinaryurl, async_req=True)
        >>> result = thread.get()

        :param id: The id of the device (required)
        :type id: str
        :param devicev2_otabinaryurl: (required)
        :type devicev2_otabinaryurl: Devicev2Otabinaryurl
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the 
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """

        _params = locals()

        _all_params = [
            'id',
            'devicev2_otabinaryurl'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method devices_v2_ota_send" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['id']:
            _path_params['id'] = _params['id']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['devicev2_otabinaryurl'] is not None:
            _body_params = _params['devicev2_otabinaryurl']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/vnd.goa.error+json', 'text/plain'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json', 'application/x-www-form-urlencoded']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = ['oauth2']  # noqa: E501

        _response_types_map = {}

        return self.api_client.call_api(
            '/v2/devices/{id}/ota', 'PUT',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def devices_v2_ota_upload(self, id : Annotated[StrictStr, Field(..., description="The id of the device")], ota_file : Annotated[Union[StrictBytes, StrictStr], Field(..., description="OTA file")], var_async : Annotated[Optional[StrictBool], Field(description="If false, wait for the full OTA process, until it gets a result from the device")] = None, expire_in_mins : Annotated[Optional[StrictInt], Field(description="Binary expire time in minutes, default 10 mins")] = None, **kwargs) -> ArduinoDevicev2Otaupload:  # noqa: E501
        """upload devices_v2_ota  # noqa: E501

        Upload a binary and send it to a device  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.devices_v2_ota_upload(id, ota_file, var_async, expire_in_mins, async_req=True)
        >>> result = thread.get()

        :param id: The id of the device (required)
        :type id: str
        :param ota_file: OTA file (required)
        :type ota_file: bytearray
        :param var_async: If false, wait for the full OTA process, until it gets a result from the device
        :type var_async: bool
        :param expire_in_mins: Binary expire time in minutes, default 10 mins
        :type expire_in_mins: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: ArduinoDevicev2Otaupload
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            raise ValueError("Error! Please call the devices_v2_ota_upload_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data")
        return self.devices_v2_ota_upload_with_http_info(id, ota_file, var_async, expire_in_mins, **kwargs)  # noqa: E501

    @validate_arguments
    def devices_v2_ota_upload_with_http_info(self, id : Annotated[StrictStr, Field(..., description="The id of the device")], ota_file : Annotated[Union[StrictBytes, StrictStr], Field(..., description="OTA file")], var_async : Annotated[Optional[StrictBool], Field(description="If false, wait for the full OTA process, until it gets a result from the device")] = None, expire_in_mins : Annotated[Optional[StrictInt], Field(description="Binary expire time in minutes, default 10 mins")] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """upload devices_v2_ota  # noqa: E501

        Upload a binary and send it to a device  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.devices_v2_ota_upload_with_http_info(id, ota_file, var_async, expire_in_mins, async_req=True)
        >>> result = thread.get()

        :param id: The id of the device (required)
        :type id: str
        :param ota_file: OTA file (required)
        :type ota_file: bytearray
        :param var_async: If false, wait for the full OTA process, until it gets a result from the device
        :type var_async: bool
        :param expire_in_mins: Binary expire time in minutes, default 10 mins
        :type expire_in_mins: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the 
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(ArduinoDevicev2Otaupload, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'id',
            'ota_file',
            'var_async',
            'expire_in_mins'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method devices_v2_ota_upload" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['id']:
            _path_params['id'] = _params['id']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        if _params['var_async']:
            _form_params.append(('async', _params['var_async']))

        if _params['expire_in_mins']:
            _form_params.append(('expire_in_mins', _params['expire_in_mins']))

        if _params['ota_file']:
            _files['ota_file'] = _params['ota_file']

        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/vnd.arduino.devicev2.otaupload+json', 'application/vnd.goa.error+json'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['multipart/form-data']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = ['oauth2']  # noqa: E501

        _response_types_map = {
            '200': "ArduinoDevicev2Otaupload",
            '202': "ArduinoDevicev2Otaupload",
            '400': "Error",
            '401': "Error",
            '403': "Error",
            '404': "Error",
            '409': None,
            '410': "Error",
            '412': "Error",
            '500': "Error",
        }

        return self.api_client.call_api(
            '/v2/devices/{id}/ota', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def devices_v2_ota_url(self, id : Annotated[StrictStr, Field(..., description="The id of the device")], devicev2_otaurlpyalod : Devicev2Otaurlpyalod, **kwargs) -> None:  # noqa: E501
        """url devices_v2_ota  # noqa: E501

        Generate a url for downloading a binary  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.devices_v2_ota_url(id, devicev2_otaurlpyalod, async_req=True)
        >>> result = thread.get()

        :param id: The id of the device (required)
        :type id: str
        :param devicev2_otaurlpyalod: (required)
        :type devicev2_otaurlpyalod: Devicev2Otaurlpyalod
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            raise ValueError("Error! Please call the devices_v2_ota_url_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data")
        return self.devices_v2_ota_url_with_http_info(id, devicev2_otaurlpyalod, **kwargs)  # noqa: E501

    @validate_arguments
    def devices_v2_ota_url_with_http_info(self, id : Annotated[StrictStr, Field(..., description="The id of the device")], devicev2_otaurlpyalod : Devicev2Otaurlpyalod, **kwargs) -> ApiResponse:  # noqa: E501
        """url devices_v2_ota  # noqa: E501

        Generate a url for downloading a binary  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.devices_v2_ota_url_with_http_info(id, devicev2_otaurlpyalod, async_req=True)
        >>> result = thread.get()

        :param id: The id of the device (required)
        :type id: str
        :param devicev2_otaurlpyalod: (required)
        :type devicev2_otaurlpyalod: Devicev2Otaurlpyalod
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the 
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """

        _params = locals()

        _all_params = [
            'id',
            'devicev2_otaurlpyalod'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method devices_v2_ota_url" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['id']:
            _path_params['id'] = _params['id']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['devicev2_otaurlpyalod'] is not None:
            _body_params = _params['devicev2_otaurlpyalod']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/vnd.goa.error+json', 'text/plain'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json', 'application/x-www-form-urlencoded']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = ['oauth2']  # noqa: E501

        _response_types_map = {}

        return self.api_client.call_api(
            '/v2/devices/{id}/ota/url', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))
